{% load static %}

<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Gestão de Estoque</title>
    <link rel="stylesheet" id="reset-style-css" href="{% static 'reset.css' %}" type="text/css" media="all">
    <!-- <link rel="stylesheet" id="ample-style-css" href="{% static 'style.css' %}" type="text/css" media="all"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="wide">
    <div id="page" class="hfeed site">
        <header class="bg-light p-3">
            <div class="header">
                <h1 class="h1">Sistema de gestão de estoque e EPI</h1>
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/materiais/">Materiais</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/funcionarios/">Funcionários</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/movimentacoes/">Movimentações</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/historico/">Histórico</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Cadastros
                              </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/funcionarios/cadastrar/">Cadastro de Funcionário</a>
                                    <a class="dropdown-item" href="/materiais/cadastrar/">Cadastro de Material</a>
                                    <a class="dropdown-item" href="/movimentacoes/cadastrar/">Cadastro de Movimentação</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <main>
            <div class="conteudo p-3">
                {% block content %} {% endblock %}
            </div>
        </main>
        <footer>
            <div class="footer">
                <!-- <h1>Este é o nosso Footer</h1> -->
            </div>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        </footer>
    </div>
</body>

</html>