{% load static %}

<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Gestão de Estoque</title>
    <link rel="stylesheet" id="reset-style-css" href="{% static 'reset.css' %}" type="text/css" media="all">
    <link rel="stylesheet" id="ample-style-css" href="{% static 'style.css' %}" type="text/css" media="all">
</head>

<body class="wide">
    <div id="page" class="hfeed site">
        <header>
            <div class="header">
                <h2>Sistema de gestão de estoque e EPI</h2>
                <nav class="nav">
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/materiais/">Materiais</a>
                        </li>
                        <li>
                            <a href="/funcionarios/">Funcionarios</a>
                        </li>
                        <li>
                            <a href="/movimentacoes/">Movimentações</a>
                        </li>
                        <li>
                            <a href="/historico/">Histórico</a>
                        </li>
                        <li>
                            <a href="/lotes/">Lotes</a>
                        </li>
                        <li>
                            <a href="/situacao_material/">Situação dos Materiais</a>
                        </li>
                        <li>
                            <a href="/funcionarios/cadastrar/">Cadastro Funcionário</a>
                        </li>
                        <li>
                            <a href="/materiais/cadastrar/">Cadastro Material</a>
                        </li>
                        <li>
                            <a href="/lotes/cadastrar/">Cadastro Lote</a>
                        </li>

                        <li>
                            <a href="/movimentacoes/cadastrar/">Cadastro Movimentação</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <main>
            <div class="conteudo">
                {% block content %} {% endblock %}
            </div>
        </main>
        <footer>
            <div class="footer">
                <h1>Este é o nosso Footer</h1>
            </div>
        </footer>
    </div>
</body>

</html>