{% extends 'base.html' %} {% block content %}
<div>
    <h1>Lotes</h1>

    <table>
        <thead>
            <th>ID Lote</th>
            <th>Material</th>
            <th>Controle</th>
            <th>Validade CA</th>
            <th>Tipo</th>
            <th>Quantidade</th>
            <th>Criado em</th>
        </thead>
        <tbody>
            {% for lote in lotes %}
            <tr>
                <td>{{ lote.id_lote | capfirst }}</td>
                <td>{{ lote.id_material }}</td>
                <td>{{ lote.controle }}</td>
                <td>{{ lote.validade_ca }}</td>
                <td>{{ lote.tipo }}</td>
                <td>{{ lote.quantidade }}</td>
                <td>{{ lote.criado }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}